<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <br>
  <br>
  <br>
  <div class="text-center">
    <h1>Edit Gossip</h1>
  <br>
  <br>
  <br>
  <div class="d-flex justify-content-center">
  <%= form_for @gossips do |f| %>
      <div class="form-row align-items-center">
          <div class="col-md-6 mb-3">
            <h4>The Title</h4>
            <label class="sr-only" for="inlineFormInputName">Name</label>
              <%= f.text_field :title, class: "form-control rounded-pill" %>
          </div>
          <div class="col-md-6 mb-3">
            <h4>The Gossip</h4>
            <label class="sr-only" for="inlineFormInputGossip">Gossip</label>
              <%= f.text_field :content, class: "form-control rounded-pill"%>
          </div>
      </div>
      <div class="col-auto my-1">
        <a href="<%= gossips_path %>" class="btn btn-outline-dark rounded-pill">Undo</a>
        <button type="submit" class="btn btn-primary rounded-pill">Edit</button>
      </div>
  </form>
  <% end %>
  </div>
  </div>
</div>
