<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class="text-center">
    <br>
    <br>
    <h1><%= @gossip.title %></h1>
    <p><%= @gossip.content %></p>
    <p>
    <a href="<%= gossips_path %>" class="btn btn-primary rounded-pill">Back to Gossip list</a>
    </p>
  </div>
</div>

