<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class='container'>
    <div class="text-center">
    <br>
    <br>
    <h1>Welcome on your Gossip website<h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
    <a class="btn btn-primary btn-lg rounded-pill" href="http://localhost:3000/signup" role="button">Sign Up</a>
    <br>
    <br>
    <a class="btn btn-dark btn-lg rounded-pill" href="http://localhost:3000/login" role="button">Log In</a>
    </div>
  </div>
</div>