<div class="jumbotron jumbotron-fluid jumbotron-hero">
  <div class='container'>
    <div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <h1>WELCOME ON YOUR GOSSIP WEBSITE<h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
    <a class="btn btn-primary btn-lg rounded-pill" href="http://localhost:3000/signup" role="button">Sign Up</a>
    <br>
    <br>
    <a class="btn btn-dark btn-lg rounded-pill" href="http://localhost:3000/login" role="button">Log In</a>
    </div>
  </div>
</div>
<div style="text-align: center; padding-top: 80px; font-size: 20px">
  <footer class="container">
      <div class="row">
          <div class="col-12 col-md">
              <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
              <small class="d-block mb-3 text-grey">Copyright © 2019 Gossip. All rights reserved.</small>
          </div>
      </div>
  </footer>
</div>