<br>
<div class='container'>
  <div class="text-center">
  <h3>Please enter your name and your gossip:<h3>
  </div>
  <br>
  <br>
  <form>
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
          <label class="sr-only" for="inlineFormInputName">Name</label>
          <input type="text" class="form-control rounded-pill" id="inlineFormInputName" placeholder="Your name">
        </div>
        <div class="col-auto my-1">
        <label class="sr-only" for="inlineFormInputName">Gossip</label>
          <input type="text" class="form-control rounded-pill" id="inlineFormInputGossip" placeholder="Your Gossip">
        </div>
        <div class="col-auto my-1">
          <button type="submit" class="btn btn-dark rounded-pill">Submit</button>
        </div>
    </div>
  </form>
<br>
<br>
<% @gossips.each do |un_gossip| %>
<div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= un_gossip.user.first_name %> <%= un_gossip.user.last_name %> <br></h5>
      <p class="card-text"><p><%= un_gossip.title %> </p></p>
        <a href="http://localhost:3000/welcome/user/:id" class="btn btn-dark rounded-pill">Profile Author</a>
    </div>
  </div>
<br>
<% end %>
</div>

