<br>
<div class='container'>
<h1>Welcome on your Gossip website<h1>
<br>
<h3>Please enter your name:<h3>
<form>
  <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="sr-only" for="inlineFormInputName">Name</label>
        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Your name">
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
</form>
<br>
<br>
<% @gossips.each do |un_gossip| %>
<div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= un_gossip.user.first_name %> <%= un_gossip.user.last_name %> <br></h5>
      <p class="card-text"><p><%= un_gossip.title %> </p></p>
      <button <a href="http://localhost:3000/welcome/user/:id" class="card-link">Profile author</a></button>
    </div>
  </div>
  <br>
<% end %>
</div>