// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-hero { 

  height: 666px;

  background-image: url("/assets/efe-kurnaz-RnCPiXixooY-unsplash.jpg");
  margin-bottom: -150px;
  
  background-position: center;
  background-size: cover;
  

}

button {
  
display: block;
  margin : auto;

} 
